<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font-Awesome cdn v6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- /Font-Awesome cdn v6 -->

    <!-- Link Vue JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /Link Vue JS -->

    <!-- Link Custom Style -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- /Link Custom Style -->

    <title>Toboolist VueJS</title>

</head>

<body>

    <!-- VueJS App Container -->
    <div id="app">

        <!-- Header -->
        <header class="grey-boxes">
    
            <div class="logo-title centered-container">

                <img src="img/logo.png" alt="">

            </div>
    
        </header>
        <!-- /Header -->
    
        <!-- Main -->
        <main>
    
            <!-- Input Section -->
            <div class="grey-boxes container up">
    
                <Section class="input-section">
    
                    <input class="input-bars" type="text" placeholder=" es: Fare la spesa..." 
                    v-model.trim="newTask"
                    @keyup.enter="addTask">
    
                    <button class="buttons clickable" @click="addTask"> Add Task </button>
    
                    <span class="error-message" v-if="errorMessage">Please enter a task correctly</span>

                </Section>

    
            </div>
            <!-- /Input Section -->
    
    
            <!-- List Section -->
            <div class="grey-boxes container down">

                <Section class="lists-spaces">
    
                    <div>
                        
                        <strong>&#10148; TASKS LIST</strong>

                        <ul class="clean-lists">

                            <!-- Single Task -->
                            <li class="white-bars" v-for="(curTask, taskIndex) in tasks">

                                <div @click="toggleDone(taskIndex)" class="clickable">

                                    <div class="stamp-style" :class="curTask.stateDone ? 'done' : 'pending'">

                                        <span v-if="curTask.stateDone">
                                            &#10004;
                                        </span>
                                        <span v-else>
                                            &#10008;
                                        </span>

                                    </div>

                                    <span :class="curTask.stateDone ? 'text-done' : 'text-pending'">
                                        {{ curTask.text }}
                                    </span>

                                </div>

                                <em class="clickable container-tags">
                                    <i class="fa-regular fa-trash-can"></i>
                                </em>

                            </li>
                            <!-- /Single Task -->

                        </ul>

                    </div>
        
                </Section>

            </div>
            <!-- /List Section -->
    
        </main>
        <!-- /Main -->

    </div>
    <!-- /VueJS App Container -->


    <script src="./js/script.js"></script>

</body>

</html>